label(for="title") Título
input(type="text", name="title" required)

label(for="description") Descrição
input(type="text", name="description" required)

label(for="text") Texto
textarea(name="text", cols="30", rows="10" required)

a(href="/posts") Cancelar 
button(type="submit") Postar