@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--body-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;

  font-family: "Poppins", sans-serif;
  background-color: var(--body-bg-color);
  color: var(--purple);
}

main {
  max-height: 100vh;
  height: 100%;
  text-align: center;
}

.date {
  font-size: 0.9rem;
  font-weight: 300;
}

.post-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  border: 2px solid var(--purple);
  border-radius: 4px;

  padding: 4rem;
  margin: 0.5rem;
}

.button-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.readmore-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.readmore {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 1%;

  border: 2px solid var(--purple);
  border-radius: 4px;
}

.new-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-edit {
  display: flex;
  flex-direction: column;

  padding: 1%;

  border: 2px solid var(--purple);
  border-radius: 4px;
}

.the-text {
  width: 25rem;
  height: 10rem;
  resize: none;
}

button {
  background: none;
  color: var(--purple);
  border: 1px solid var(--purple);
  border-radius: 4px;

  padding: 10px;
  margin: 1px;

  font-family: "Poppins", sans-serif;
  font-weight: 600;

  transition: 300ms ease-in-out;
}

button:hover {
  cursor: pointer;

  color: var(--body-bg-color);
  background-color: var(--purple);
}
