extends ../layout

block content
    h1 Posts
    a(href="/posts/new"): button(type="button") Nova postagem
    each post in posts 
        div
            h3 #{post.title}
            h4 #{post.createdAt.toLocaleDateString()}
            h4 #{post.description}
            a(href=`posts/${post.slug}`): button(type="button") Ler mais
            hr